<!-- <div class="container-fluid">
	<ul class="list-group">
		<li *ngFor="let follower of followers" class="list-group-item borderless">
			<div class="row">
				<div class="col-1">
					<img [src]="follower.avatar_url" class="rounded-image" />
				</div>
				<div class="col-11">
					<div class="row">
						<div class="col-12">{{follower.login}}</div>
					</div>
					<div class="row">
						<div class="col-12"><a [href]="follower.html_url">{{follower.html_url}}</a></div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div> -->

<div *ngFor="let follower of followers" class="media">
	<div class="media-left">
		<img class="mr-3 rounded-image" [src]="follower.avatar_url" alt="GitHub avatar">
	</div>

	<div class="media-body">
		<h5 class="mt-0">{{follower.login}}</h5>
		<a [href]="follower.html_url">{{follower.html_url}}</a>
	</div>
</div>