<form [formGroup]="form">
    <div class="form-group">
        <label for="oldPasswordText">
            Old password:
        </label>
        <input type="text" id="oldPasswordText" formControlName="oldPassword" name="oldPassword" class='form-control'>
        <div class="alert alert-danger" *ngIf="!oldPassword.valid && oldPassword.touched">
            <div *ngIf="oldPassword.errors?.required">Old password is required</div>
            <div *ngIf="oldPassword.errors?.invalidOldPasswordMatch">Old Password does not match</div>
        </div>
        <label for="newPasswordText">
            New password:
        </label>
        <input type="text" class="form-control" id="newPasswordText" formControlName="newPassword" name="newPassword">
        <div class="alert alert-danger" *ngIf="!newPassword.valid && newPassword.touched">
            <div *ngIf="newPassword.errors?.required">New password is required</div>
        </div>
        <label for="confirmPasswordText">
            Confirm password:
        </label>
        <input type="text" class="form-control" id="confirmPasswordText" formControlName="confirmPassword" name="confirmPassword">
        <div class="alert alert-danger" *ngIf="!confirmPassword.valid && confirmPassword.touched">
            Confirmation of the password is required.
        </div>
        <div class="alert alert-danger" *ngIf="form.errors?.newAndCurrentPassword && confirmPassword.valid">
            The new password and confirmation of the password should match.
        </div>
    </div>
    <p>
        {{ form.value | json }}
    </p>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
</form>